<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multiply Form</title>
</head>
<body>
<h1>Formularz Tabliczki Mnożenia</h1>
<form action="/multiply" method="post">
    Liczba 1 : <input type="number" min="1" max="100" name="number1"/><br/>
    Liczba 2 : <input type="number" min="1" max="100" name="number2"/><br/>
    <input type="submit" value="Wyślij">
</form>
<!--<hr> // linia hr oddzielająca formularz od tabliczki mnozenia-->
<hr>
<table th:if="${(Liczba1 != null) && (Liczba2 != null)}">
    <!--    #numbers - funkcja thymeleaf ktora zawiera intrukcje liczbowe-->
    <!--    #sequnce - metoda generujaca liczby od do-->
    <tr th:each="i : ${#numbers.sequence(1, Liczba1)}">
        <td th:each="j : ${#numbers.sequence(1, Liczba2)}" th:text="${i * j}">
<!--            to co wypiszemy w th: text to zostanie wypisane pomiedzy tagami td lub tr-->
        </td>
    </tr>
</table>
<h2>Nowy tekst</h2>
</body>
</html>