<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List Page</title>
</head>
<body>

<h2>Student List Page</h2>
<a href="/student/add">Add Student</a>
<table>
    <tr>
        <th>Lp: </th>
        <th>Name: </th>
        <th>Surname: </th>
        <th>Grades: </th>
    </tr>

    <tr th:each="student, i : ${studentList}">
        <td th:text="${i.index + 1}"></td>
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getGrades()}"></td>
        <td><a th:href="@{'/student/remove?id=' + ${i.index}}">Remove</a> </td>
        <td><a th:href="@{'/student/addGrades?id=' + ${i.index}}">Add Grades</a> </td>
        <td><a th:href="@{'/student/update?id=' + ${i.index}}">Update</a> </td>
        <td></td>
    </tr>
</table>
</body>
</html>